.container {

    padding: 0 32px;

    margin-top: 48px;
    margin-bottom: 64px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 24px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
}

.toggle {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: var(--color-primary);

    background: none;
    border: none;
    cursor: pointer;
}


.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}