.container {
    margin: 40px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-primary);
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

.grid {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}