.button {
    background-color: var(--color-black);
    color: var(--color-primary);
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    font-size: 14px;
}