.button {
    background-color: var(--color-black);
    color: var(--color-primary);
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}