.card {
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.title {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-black);
}

.chip {
    font-size: 10px;
    height: 24px;
}