.card {
    width: 200px;
    background: var(--color-card-bg);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.bottom {
    background: var(--color-card-bg);
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.title {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-black);
}

.chip {
    background-color: var(--color-black) !important;
    color: #fff !important;
    border-radius: 20px !important;
    height: 24px !important;
    padding: 0px 10px !important;
    font-size: 10px !important;
}