.card {
    width: 200px;
    background: var(--color-card-bg);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.bottom {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
}


.chip {
    background-color: #000 !important;
    color: #fff !important;

    border-radius: 20px !important;
    height: 24px !important;
    padding: 0 10px !important;

    font-size: 10px !important;
    font-weight: 500 !important;
    font-family: "Poppins", sans-serif !important;

    display: flex !important;
    align-items: center !important;
}