.navbar {
    width: 100%;
    height: 74px;
    background-color: #34C94B;

    display: flex;
    align-items: center;

    padding: 0 32px;
    box-sizing: border-box;
}

.logoWrapper {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.searchWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}