.navbar {
    width: 100%;
    height: 74px;
    background-color: #34C94B;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 var(--page-padding);
    box-sizing: border-box;
}

.logoWrapper {
    margin-right: 32px;
}

.searchWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}