.wrapper {
    display: flex;
    align-items: center;
    width: 568px;
    height: 48px;
    background: #ffffff;
    border: 1px solid var(--color-black);
    border-radius: 8px;
    overflow: hidden;
}

.inputRoot {
    flex: 1 !important;
    display: flex;
}

.search {
    flex: 1;
    width: 100% !important;
    padding: 14px 20px;
    border: none;
    outline: none;
    height: 100%;
    font-size: 14px;
}



.searchButton {
    width: 48px;
    height: 48px;
    background: #ffffff;
    border-left: 1px solid var(--color-black);
    border: none;
    border-left: 1px solid var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.searchButton svg {
    width: 20px;
    height: 20px;
}


.listElement {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.albumTitle {
    font-size: 16px;
}

.albumArtists {
    font-size: 12px;
}